[submodule "tools/icu"]
	path = tools/icu
	url = https://gitlab.q3df.org/megadaddeln/icu_chrome.git
	branch = master
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://gitlab.q3df.org/megadaddeln/gyp.git
	branch = master
[submodule "tools/httpxx"]
	path = tools/httpxx
	url = https://github.com/AndreLouisCaron/httpxx.git
	branch = master
