out/
build/
tools/protorpc/lib/
tools/protorpc/bin/
tools/protorpc/zz_*
tools/Boost/*
protoc/*.pb.cc
protoc/*.pb.h
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
_ReSharper*/
*.vcxproj
*.vcxproj.filters
*.sdf
*.sln
*.opensdf
*.target.mk
Makefile
*.Makefile
